node_modules
dep
coverage
.edpproj
npm-debug.log
output
coverage
*.orig
.DS_Store
**/.DS_Store
doc
asset
lib/package.json
lib/readme.md

.sync/*

.me_configs.data

.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive
_book
